
.sidebar{
    background-color: var(--main-color);
    color: var(--white-color);
}
.navItem{
    padding: 1rem;
    cursor: pointer;
    transition: background 1s ;
    text-decoration: none;
    color: var(--white-color);
}

.navItem:hover{
    background: var(--hover-color);
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #4dff65;
    border-radius: 50%;
    box-shadow: 0 0 8px #9aff4d;
}